.contact-container {
  width: 50%;
  height: 90vh;
  margin: 3rem auto;

  h3 {
    font-size: 6rem;
  }

  p {
    font-size: 3rem;

    span {
      font-weight: 700;
      color: #A5A5A5;
      transition: all .5s;

      &:hover {
        color: #D03231;
      }
    }
  }
}